---
Language: Cpp
BasedOnStyle: Mozilla
Standard: Latest
ColumnLimit: 80
UseTab: Never
TabWidth: 2
IndentWidth: 2
ConstructorInitializerIndentWidth: 0
LineEnding: LF
KeepEmptyLinesAtEOF: false
InsertNewlineAtEOF: true
InsertBraces: true
QualifierAlignment: Right
PointerAlignment: Right
ReferenceAlignment: Pointer
Cpp11BracedListStyle: true
AlignAfterOpenBracket: AlwaysBreak
BreakAfterAttributes: Always
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: MultiLine
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: false
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: true
AttributeMacros:
  - __capability
ForEachMacros:
  - foreach
  - Q_FOREACH
  - BOOST_FOREACH
IfMacros:
  - KJ_IF_MAYBE
StatementAttributeLikeMacros:
  - Q_EMIT
StatementMacros:
  - Q_UNUSED
  - QT_REQUIRE_VERSION
WhitespaceSensitiveMacros:
  - STRINGIZE
  - PP_STRINGIZE
  - BOOST_PP_STRINGIZE
  - NS_SWIFT_NAME
  - CF_SWIFT_NAME
  - EM_ASM
  - EM_JS
  - EM_ASM_INT
  - EM_ASM_DOUBLE
  - EM_ASM_PTR
  - MAIN_THREAD_EM_ASM
  - MAIN_THREAD_EM_ASM_INT
  - MAIN_THREAD_EM_ASM_DOUBLE
  - MAIN_THREAD_EM_ASM_DOUBLE
  - MAIN_THREAD_ASYNC_EM_ASM'
---
